!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AC
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'

  %body
    %nav.navbar.navbar-light.nav_color_light.p-0.nav
      .col-2.no-gutters.p-0
        .nav-item.nav_color_dark.center.font_white_color.nav-item
          %a.navbar-brand.p-2
            A&C
      .col-8
        .nav-item.center.border-danger.font_white_color.nav-item.nav_color_mpink
          %a.navbar-brand
            hola
      .col-2.no-gutters.p-0
        .nav-item.border-left.border-danger.text-right.font_white_color.nav-item
          %a.navbar-brand.p-2
            Romer Ramos

      

  - if notice
    %p.alert.alert-success
      = notice

  - if alert
    %p.alert.alert-danger
      = alert
      
  .row.no-gutters.h-100
    .col-sm-2.border-right
      %na.navbar
        %ul.navbar-nav
          %li.nav-item
            = link_to "perfil","#", class: "nav-link"
          %li.nav-item    
            = link_to "imágenes",images_path,class: "nav-link"
          %li.nav-item
            = link_to "cuentas","#", class: "nav-link"

    .col-sm-10
      = yield
