.wrapper.ml-3
  .container
    %h1 Agregar imagen 
    = form_for @image do |f|
      .row
        .col-sm-4
          %strong
            =f.label :image
          %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, quidem possimus 
        .col-sm-8
          .card
            .card-header 
              imagen principal
            .card-body
              =f.file_field :image, class: "dropify"
      .row.mt-3
        .col-sm-4
          %strong
            =f.label :subtitle
          %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, quidem possimus
        .col-sm-8
          .card
            .card-header
              subitulo
            .card-body        
              =f.text_field :subtitle, class: "form-control"
              .col-sm-12.mt-2.p-0
                =f.check_box :public
                =f.label "mostrar esta imagen en tu perfil"
              
          =f.submit "guardar foto", class: "float-right mt-5"
         
            

