.wrapper.ml-3
  .container
    .row.mt-5
      .col-sm-12
        %h1 Perfil de Usuario
      .col-sm-8.mt-5
        .card
          .card-body
            = form_for @profile do |f|
              .row
                .col-sm-6
                  = f.label :nombre
                  = f.text_field :name, class: "form-control"
                .col-sm-6
                  = f.label :ocupation
                  = f.text_field :ocupation, class: "form-control"
                .col-sm-12
                  = f.label "biografia"
                  = f.trix_editor :bio, class: "form-control" 
              </div></div></div>
              .col-sm-4.mt-5
                .card
                  .card-body
                    .row    
                      .col-sm-12
                        = f.label "Monto de un Café"
                        = f.text_field :donation_amount, class: "form-control"
                      .col-sm-12
                        = f.label "simbolo de la moneda"
                        = f.text_field :currency, class: "form-control"
                      .col-sm-12
                        = f.label :multipler
                      .col-sm-3
                        <input type="text" name="profile[multiplier][]" class="form-control input_rounded"/>
                      .col-sm-3
                        <input type="text" name="profile[multiplier][]" class="form-control input_rounded"/>
                      .col-sm-3  
                        <input type="text" name="profile[multiplier][]" class="form-control input_rounded"/>
                      .col-sm-3
                        <input type="text" name="profile[multiplier][]" class="form-control input_rounded"/>
                .col-sm-1.offset-7.mt-5
                  = f.submit class: "btn btn-secondary button_color_pink"